/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

/* BACKGROUND STYLES */
.page-bg {
  /* background sticks to the viewport and doesn't scroll with the content  */
  position: fixed;
  inset: 0;
  z-index: -1;
  /* clips the background to the viewport, preventing any overflow from being visible */
  overflow: hidden;
}

.blob {
  position: absolute;
  border-radius: 50%;
  /* filter: blur(60px); */
  /* opacity: 0.7; */
}

.blob-right-red {
  width: 400px;
  height: 400px;
  background: #ff6b6b;

  top: -100px;
  right: -100px;
}
.blob-bottom-left-blue {
  width: 350px;
  height: 350px;
  background: #5b7cfa;

  bottom: -50px;
  left: -120px;

  /* filter: blur(50px); */
  /* transform: scale(1.2); */
}

.blob-left-purple {
  width: 300px;
  height: 300px;
  background: #e2cde4;

  top: -80px;
  left: -80px;
}

/* .blob-soft {
  width: 500px;
  height: 500px;
  background: red;

  top: 20%;
  left: 40%;

  filter: blur(100px);
  opacity: 0.3;
} */

/* HEADER */
.header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* NAVBAR */

.nav-container {
  background: #000;
  color: #fff;
  width: 90%;
  max-width: 1100px;
  padding: 14px 24px;
  border-radius: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container a {
  color: #fff;
  text-decoration: none;
}

.nav-container nav a {
  margin-left: 24px;
  font-size: 14px;
}

/* HERO */

.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.subtitle {
  color: #aaa;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

h1 {
  font-size: 64px;
  font-weight: 800;
}

h1 span {
  color: #aaa;
  display: block;
  font-weight: 400;
}

.skills {
  margin: 20px 0;
}

.skills span {
  background: #eaeaea;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 12px;
  margin: 5px;
  display: inline-block;
}

/* View my work Button styles */
.cta-view-my-work {
  margin: 20px 0;
  border: 1px solid #000;
  padding: 12px 24px;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
}
